.service {
    @include paddingSection;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31);
        padding: 35px 20px;
        @include transition2ms;

        &:hover {
            -webkit-box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
            box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
        }

        &:hover .material-icons {
            background-color: #00aafe;
            @include color-white;
        }

        .material-icons {
            color: rgb(0, 170, 254);
            font-size: 30px;
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(235, 248, 255);
            border-radius: 50%;
            @include transition2ms;
        }
    }
}

.contact {
    background-image: url('../assets/images/contact-us-background.png');
    height: 430px;
    position: relative;
    z-index: 1;
    background-size: cover;
    clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%);

    &__center {
        @include position-center;
        @include color-white;
        @include text-center;
        z-index: 3;
    }

    &::after {
        @include bg-after;
    }
}

.about {
    @include paddingSection;

    &__flex {
        display: flex;
        justify-content: space-around;
    }

    &__box {
        max-width: 40%;
    }

    img {
        width: 40%;
        object-fit: Cover;
    }
}

.letsGo {
    background-image: url('../assets/images/letsGo-background.png');
    height: 440px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);

    &__center {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        @include color-white;
        z-index: 3;
        @include text-center;
    }

    &::after {
        @include bg-after;
    }
}

.featured {
    @include paddingSection;

    &__box {
        min-width: 200px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    &__wrapper {
        border: 1px solid #ddd;
        border-top: none;
        height: 100%;
        margin-top: -10px;
        padding: 9px 9px 9px 15px;
    }
}

.video {
    position: relative;
    height: 490px;
    z-index: 1;
    clip-path: polygon(0 30%, 100% 5%, 100% 100%, 0 100%);
    background: url(../../assets/images/handshake-background.png) no-repeat;
    background-size: cover;

    &:after {
        @include bg-after;
    }

    img {
        @include position-center;
        z-index: 3;
    }

}

.team {
    @include text-center;
    @include paddingSection;

    &__flex {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }

    &__box {
        @include transition2ms;
        width: 20%;

        &:hover {
            transform: scale(1.2);
            overflow: hidden;
        }

        img {
            max-width: 100%;
        }
    }
}

.pricing {
    padding: 50px 0 140px 0;

    &__span {
        font-size: 40px;
    }

    &__box {
        @include text-center;
        padding: 25px 0 40px 0;
        box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.2);
        @include transition2ms;
        border-radius: 5px;

        &:hover {
            transform: scale(1.2);
            @include color-white;
            background-color: #13BDFF;

            a {
                border-color: white;
                @include color-white;

                &:hover {
                    color: $bg-light-blue;
                }
            }
        }

        &-3 {
            position: relative;
            overflow: hidden;
        }

    }
}

.overview {
    height: 360px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background: url(../../assets/images/overview-background.png) no-repeat;
    background-size: cover;
    @include color-white;

    &::after {
        @include bg-after;
    }
}

.clients {
    @include paddingSection;

    &__box {
        @include text-center;
        box-shadow: 0px 0px 16px 0px rgba(86, 77, 77, 0.21);
        max-width: 750px;
        @include margin0auto;

        img {
            border-radius: 50%;
            padding: 25px 0 15px 0;
        }

    }
}

.keepIn {
    @include paddingSection;
    clip-path: polygon(0 40%, 100% 5%, 100% 100%, 0 100%);
    background-color: rgba(5, 180, 249, 0.9);
    height: 350px;
    @include color-white;
}

.blog {
    @include paddingSection;

    &__box {

        img {
            width: 100%;
        }

    }

    &__wrapper {
        padding: 0 10px;
    }
}